<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
        <target name="file" xsi:type="File" fileName="trade-recorder.log" archiveAboveSize="26214400" archiveOldFileOnStartup="true" archiveFileName="CryptoArbiter.{#}.log" archiveDateFormat="yyyyMMddHHmm" archiveNumbering="DateAndSequence">
            <layout xsi:type="CSVLayout">
                <column name="Severity" layout="${level:uppercase=true}"/>
                <column name="When" layout="${shortdate}T${time}"/>
                <column name="Activity Id" layout="${activityId}"/>
                <column name="What" layout="${logger}"/>
                <column name="Thread Id" layout="${threadId}"/>
                <column name="Message" layout="${message}"/>
            </layout>
        </target>

        <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
				layout="${time}|${level:uppercase=true:format=FirstCharacter}|${logger}|${pad:padding=5:inner=${threadId}}|${message} ${exception:format=toString}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="LightGray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
    </targets>

    <rules>
        <logger name="QuantaCandle.*" minlevel="Debug" writeTo="console" />
        <logger name="QuantaCandle.*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
